interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams/176692/billing_details
  response:
    body:
      string: '{"company":"Self-employed","address1":"Sample line 1","address2":"Sample
        line 2","city":"Riga","zip":"LV-6543","phone":"+371123456","vatnumber":"123","country_code":"LV","billing_email":"hello@example.com","state_code":""}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
