interactions:
- request:
    body: '{"billing_email": "hello@example.com", "country_code": "LV", "zip": "LV-1234"}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/teams/176692/billing_details
  response:
    body:
      string: '{"company":"","address1":"","address2":"","city":"","zip":"LV-1234","phone":"","vatnumber":null,"country_code":"LV","billing_email":"hello@example.com","state_code":""}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
