interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams/176692/translation_providers/4
  response:
    body:
      string: '{"provider_id":4,"name":"Lokalise","slug":"lokalise","price_pair_min":"10.00","website_url":"https:\/\/lokalise.co","description":"Our
        native professional translations are experts in mobile app, software, e-learning,
        website, multimedia and game localization. Translations in over 90 languages
        are available.\n<br><br>\nReach out for our translation managers in our in-web
        support chat. They will guide you through.\n<br><br>\n<strong>Lifetime quality
        guarantee<\/strong> applies.","tiers":[{"tier_id":1,"title":"Translation only
        by a native professional linguist"},{"tier_id":2,"title":"Translation + Bilingual
        revision by a second native professional linguist"},{"tier_id":3,"title":"Bilingual
        editing"},{"tier_id":4,"title":"Monolingual proofreading"}],"pairs":[{"tier_id":1,"price_per_word":"0.0729927","from_lang_iso":"ru","from_lang_name":"Russian","to_lang_iso":"en","to_lang_name":"English"},{"tier_id":1,"price_per_word":"0.138686","from_lang_iso":"zh_TW","from_lang_name":"Chinese
        Traditional","to_lang_iso":"en_GB","to_lang_name":"English (United Kingdom)"},{"tier_id":1,"price_per_word":"0.138686","from_lang_iso":"zh_TW","from_lang_name":"Chinese
        Traditional","to_lang_iso":"en","to_lang_name":"English"},{"tier_id":1,"price_per_word":"0.138686","from_lang_iso":"zh_TW","from_lang_name":"Chinese
        Traditional","to_lang_iso":"en_US","to_lang_name":"Engli[...]
