interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams/176692/translation_providers?page=2&limit=1
  response:
    body:
      string: '{"translation_providers":[{"provider_id":4,"name":"Lokalise","slug":"lokalise","price_pair_min":"10.00","website_url":"https:\/\/lokalise.co","description":"Our
        native professional translations are experts in mobile app, software, e-learning,
        website, multimedia and game localization. Translations in over 90 languages
        are available.\n<br><br>\nReach out for our translation managers in our in-web
        support chat. They will guide you through.\n<br><br>\n<strong>Lifetime quality
        guarantee<\/strong> applies."}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '1'
      X-Pagination-Page:
      - '2'
      X-Pagination-Page-Count:
      - '2'
      X-Pagination-Total-Count:
      - '2'
    status:
      code: 200
      message: OK
version: 1
