interactions:
- request:
    body: '{"number": "4242424242420391", "cvc": 123, "exp_month": 9, "exp_year":
      2025}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/payment_cards
  response:
    body:
      string: '{"card_id":3514,"last4":"0391","brand":"Visa","created_at":"2020-06-20
        15:07:22 (Etc\/UTC)","created_at_timestamp":1592665642}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
