interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/payment_cards?page=2&limit=1
  response:
    body:
      string: '{"user_id":20181,"payment_cards":[{"card_id":2185,"last4":"8148","brand":"MasterCard","created_at":"2019-06-19
        15:51:54 (Etc\/UTC)","created_at_timestamp":1560959514}]}'
    headers:
      Allow:
      - POST
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '1'
      X-Pagination-Page:
      - '2'
      X-Pagination-Page-Count:
      - '2'
      X-Pagination-Total-Count:
      - '2'
    status:
      code: 200
      message: OK
version: 1
