interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams?page=2&limit=3
  response:
    body:
      string: '{"teams":[{"team_id":170312,"name":"Lokalise","plan":"Trial","created_at":"2017-10-17
        09:10:00 (Etc\/UTC)","created_at_timestamp":1508231400,"quota_usage":{"users":44,"keys":6213,"projects":18,"mau":0},"quota_allowed":{"users":999999999,"keys":999999999,"projects":999999999,"mau":999999999}}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '3'
      X-Pagination-Page:
      - '2'
      X-Pagination-Page-Count:
      - '2'
      X-Pagination-Total-Count:
      - '4'
    status:
      code: 200
      message: OK
version: 1
