interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams
  response:
    body:
      string: '{"teams":[{"team_id":199048,"name":"Sample","plan":"Trial","created_at":"2019-12-25
        13:50:00 (Etc\/UTC)","created_at_timestamp":1577281800,"quota_usage":{"users":1,"keys":0,"projects":0,"mau":0},"quota_allowed":{"users":999999999,"keys":999999999,"projects":999999999,"mau":999999999}},{"team_id":186612,"name":"NikaNika","plan":"Trial","created_at":"2019-04-11
        11:12:49 (Etc\/UTC)","created_at_timestamp":1554981169,"quota_usage":{"users":2,"keys":715,"projects":4,"mau":0},"quota_allowed":{"users":999999999,"keys":999999999,"projects":999999999,"mau":999999999}},{"team_id":176692,"name":"Ilya''s
        Team","plan":"Trial","created_at":"2018-08-21 15:35:25 (Etc\/UTC)","created_at_timestamp":1534865725,"quota_usage":{"users":16,"keys":154,"projects":15,"mau":0},"quota_allowed":{"users":999999999,"keys":999999999,"projects":999999999,"mau":999999999}},{"team_id":170312,"name":"Lokalise","plan":"Trial","created_at":"2017-10-17
        09:10:00 (Etc\/UTC)","created_at_timestamp":1508231400,"quota_usage":{"users":44,"keys":6213,"projects":18,"mau":0},"quota_allowed":{"users":999999999,"keys":999999999,"projects":999999999,"mau":999999999}}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '100'
      X-Pagination-Page:
      - '1'
      X-Pagination-Page-Count:
      - '1'
      X-Pagination-Total-Count:
      - '4'
    status:
      code: 200
      message: OK
version: 1
