interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams/176692
  response:
    body:
      string: '{"team":{"team_id":176692,"name":"Ilya\u0027s Team","plan_name":"Trial","created_at":"2018-08-21T17:35:25+02:00","created_at_timestamp":1534865725,"quota_usage":{"id":null,"users":20,"keys":103,"projects":11,"mau":0,"trafficBytes":817,"aiWords":678},"quota_allowed":{"id":null,"users":999999999,"keys":999999999,"projects":999999999,"mau":0,"trafficBytes":1,"aiWords":100200},"is_team_suspended":false,"is_end_of_trial_active":false,"trial_days_left":64}}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - 60b5f9da-3681-400a-be7c-93e6ebbfdc71
    status:
      code: 200
      message: OK
version: 1
