interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/webhooks/0efe309ba1c83f966ab3c76b05d25f62fc67cd7d
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","webhook":{"webhook_id":"0efe309ba1c83f966ab3c76b05d25f62fc67cd7d","url":"http:\/\/bodrovis.tech\/lokalise","branch":null,"secret":"a7ea737bdf13698c4ab38ade4ab79c25b2345fb6","events":["project.branch.added"],"event_lang_map":[]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
