interactions:
- request:
    body: '{"url": "http://bodrovis.tech/lokalise", "events": ["project.imported",
      "project.snapshot"]}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/webhooks
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","webhook":{"webhook_id":"b5873ff8a70084e98ef8b0d3f40335fe75d44046","url":"http:\/\/bodrovis.tech\/lokalise","branch":null,"secret":"10657d6f0c33cbbbe44a72099084d8fa96147591","events":["project.imported","project.snapshot"],"event_lang_map":[]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
