interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/keys?page=2&limit=3&disable_references=1&filter_archived=exclude
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","keys":[{"key_id":34089721,"created_at":"2019-12-27
        12:53:16 (Etc\/UTC)","created_at_timestamp":1577451196,"key_name":{"ios":"manual_setup","android":"manual_setup","web":"manual_setup","other":"manual_setup"},"filenames":{"ios":"","android":"","web":"","other":""},"description":"","platforms":["web"],"tags":["completed"],"is_plural":false,"plural_name":"","is_hidden":false,"is_archived":false,"context":"","base_words":2,"char_limit":0,"custom_attributes":"","modified_at":"2020-06-18
        12:32:03 (Etc\/UTC)","modified_at_timestamp":1592483523,"translations_modified_at":"2020-01-05
        14:49:10 (Etc\/UTC)","translations_modified_at_timestamp":1578235750},{"key_id":34089723,"created_at":"2019-12-27
        15:15:10 (Etc\/UTC)","created_at_timestamp":1577459710,"key_name":{"ios":"copy_number","android":"copy_number","web":"copy_number","other":"copy_number"},"filenames":{"ios":"","android":"","web":"","other":""},"description":"","platforms":["web"],"tags":["completed"],"is_plural":false,"plural_name":"","is_hidden":false,"is_archived":false,"context":"","base_words":2,"char_limit":0,"custom_attributes":"","modified_at":"2020-06-18
        12:32:03 (Etc\/UTC)","modified_at_timestamp":1592483523,"translations_modified_at":"2019-12-30
        12:35:26 (Etc\/UTC)","translations_modified_at_timestamp":1577709326},{"key_id":34089724,"created_at":"2019-12-27
        16:07:37 (Etc\/UTC)","created_at_timestamp":1577462857,"key_name":{"ios":"upload_image","android":"upload_image","web":"upload_image","other":"upload_image"},"filenames":{"ios":"","android":"","web":"","other":""},"description":"","platforms":["web"],"tags":["completed"],"is_plural":false,"plural_name":"","is_hidden":false,"is_archived":false,"context":"","base_words":4,"char_limit":0,"custom_attributes":"","modified_at":"2020-06-18
        12:32:03 (Etc\/UTC)","modified_at_timestamp":1592483523,"translations_modified_at":"2019-12-30
        12:35:26 (Etc\/UTC)","translations_modified_at_timestamp":1577709326}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '3'
      X-Pagination-Page:
      - '2'
      X-Pagination-Page-Count:
      - '5'
      X-Pagination-Total-Count:
      - '13'
    status:
      code: 200
      message: OK
version: 1
