interactions:
- request:
    body: '{"keys": [{"key_id": 48855757, "description": "Bulk updated", "tags": ["bulk-python"]},
      {"key_id": 48855758, "translations": [{"language_iso": "ru_RU", "translation":
      "\u041e\u0431\u043d\u043e\u0432\u043b\u0451\u043d\u043d\u044b\u0439 \u043f\u0435\u0440\u0435\u0432\u043e\u0434
      Python"}]}]}'
    headers:
      x-api-token:
      - FILTERED
    method: PUT
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/keys
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","keys":[{"key_id":48855757,"created_at":"2020-06-20
        13:02:36 (Etc\/UTC)","created_at_timestamp":1592658156,"key_name":{"ios":"python_1","android":"python_1","web":"python_1","other":"python_1"},"filenames":{"ios":"","android":"","web":"","other":""},"description":"Bulk
        updated","platforms":["ios","android"],"tags":["bulk-python"],"comments":[],"screenshots":[],"translations":[{"translation_id":344441731,"key_id":48855757,"language_iso":"ru_RU","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2020-06-20
        13:02:36 (Etc\/UTC)","modified_at_timestamp":1592658156,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0,"custom_translation_statuses":[]},{"translation_id":344441734,"key_id":48855757,"language_iso":"en_AU","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2020-06-20
        13:02:36 (Etc\/UTC)","modified_at_timestamp":1592658156,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0,"custom_translation_statuses":[]},{"translation_id":344441730,"key_id":48855757,"language_iso":"en","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2020-06-20
        13:02:36 (Etc\/UTC)","modified_at_timestamp":1592658156,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0,"custom_translation_statuses":[]},{"translation_id":344441732,"key_id":48855757,"language_iso":"de_DE","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2020-06-20
        13:02:36 (Etc\/UTC)","modified_at_timestamp":1592658156,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0,"custom_translation_statuses":[]},{"translation_id":344441733,"key_id":48855757,"language_iso":"que","translation":"","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2020-06-20
        13:02:36 (Etc\/UTC)","modified_at_timestamp":1592658156,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":0,"custom_translation_statuses":[]}],"is_plural":false,"plural_name":"","is_hidden":false,"is_archived":false,"context":"","base_words":0,"char_limit":0,"custom_attributes":"","modified_at":"2020-06-20
        13:29:31 (Etc\/UTC)","modified_at_timestamp":1592659771,"translations_modified_at":"2020-06-20
        13:02:36 (Etc\/UTC)","translations_modified_at_timestamp":1592658156},{"key_id":48855758,"created_at":"2020-06-20
        13:02:36 (Etc\/UTC)","created_at_timestamp":1592658156,"key_name":{"ios":"python_2","android":"python_2","web":"python_2","other":"python_2"},"filenames":{"ios":"","android":"","web":"","other":""},"description":"","platforms":["web"],"tags":[],"comments":[],"screenshots":[],"translations":[{"translation_id":344441736,"key_id":48855758,"language_iso":"ru_RU","translation":"\u041e\u0431\u043d\u043e\u0432\u043b\u0451\u043d\u043d\u044b[...]
