interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/2273827860c1e2473eb195.11207948/keys?disable_references=1&limit=2&pagination=cursor&cursor=eyIxIjo0NDU5NjA2MX0%3D
  response:
    body:
      string: '{"project_id":"2273827860c1e2473eb195.11207948","branch":"master","keys":[{"key_id":94981678,"created_at":"2021-06-10
        09:59:09 (Etc\/UTC)","created_at_timestamp":1623319149,"key_name":{"ios":"f986261c453f5e38fc1c390b4d903b63765aed86","android":"f986261c453f5e38fc1c390b4d903b63765aed86","web":"f986261c453f5e38fc1c390b4d903b63765aed86","other":"f986261c453f5e38fc1c390b4d903b63765aed86"},"filenames":{"ios":"","android":"","web":"messages.%LANG_ISO%.xlf","other":""},"description":"","platforms":["web"],"tags":[],"is_plural":false,"plural_name":"","is_hidden":false,"is_archived":true,"context":"ng2.template","base_words":2,"char_limit":0,"custom_attributes":"{\"datatype\":
        \"html\", \"context-groups\": [{\"purpose\": \"location\", \"contexts\": [{\"value\":
        \"src\/app\/home\/home.component.html\", \"context-type\": \"sourcefile\"},
        {\"value\": \"21\", \"context-type\": \"linenumber\"}]}]}","modified_at":"2022-12-15
        13:15:58 (Etc\/UTC)","modified_at_timestamp":1671110158,"translations_modified_at":"2023-05-24
        12:10:16 (Etc\/UTC)","translations_modified_at_timestamp":1684930216},{"key_id":255985710,"created_at":"2022-12-27
        19:26:12 (Etc\/UTC)","created_at_timestamp":1672169172,"key_name":{"ios":"your_order","android":"your_order","web":"your_order","other":"your_order"},"filenames":{"ios":"","android":"%LANG_ISO%.xml","web":"%LANG_ISO%.json","other":""},"description":"","platforms":["android","web"],"tags":[],"is_plural":false,"plural_name":"","is_hidden":false,"is_archived":true,"context":"","base_words":3,"char_limit":0,"custom_attributes":"","modified_at":"2023-02-13
        10:47:24 (Etc\/UTC)","modified_at_timestamp":1676285244,"translations_modified_at":"2023-05-24
        12:10:16 (Etc\/UTC)","translations_modified_at_timestamp":1684930216}]}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - 520fe42e-326d-4d46-8de2-c8973b1ccd51
      X-Pagination-Limit:
      - '2'
      X-Pagination-Next-Cursor:
      - eyIxIjoyNTU5ODU3MTB9
    status:
      code: 200
      message: OK
version: 1
