interactions:
- request:
    body: '{"keys": [48855757, 48855758]}'
    headers:
      x-api-token:
      - FILTERED
    method: DELETE
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/keys
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","keys_removed":true,"keys_locked":0}'
    headers:
      Allow:
      - GET, POST, PUT
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
