language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
before_install:
  - pip install pipenv --upgrade
  - pip install codecov
install:
  - pipenv install --dev --skip-lock
script:
  - pipenv run pytest --cov=lokalise --cov-report=xml --verbose --cov-report term
after_success:
  - codecov
