interactions:
- request:
    body: '{"title": "Python status", "color": "#ff9f1a"}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/custom_translation_statuses
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","custom_translation_status":{"status_id":1357,"title":"Python
        status","color":"#ff9f1a"}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
