interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams/176692/orders
  response:
    body:
      string: '{"orders":[{"order_id":"201903198B2","project_id":"803826145ba90b42d5d860.46800099","branch":null,"card_id":1774,"status":"completed","created_at":"2019-03-19
        18:18:21 (Etc\/UTC)","created_at_timestamp":1553019501,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["ru"],"keys":[15519786],"source_words":{"ru":1},"provider_slug":"gengo","translation_style":"friendly","translation_tier":1,"translation_tier_name":"Professional
        translator","briefing":"Some briefing","total":0.07},{"order_id":"20190611AC2","project_id":"404021655ce68d0f36ad23.02802891","branch":null,"card_id":1774,"status":"completed","created_at":"2019-06-11
        17:39:07 (Etc\/UTC)","created_at_timestamp":1560274747,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["nl"],"keys":[22985548],"source_words":{"nl":1},"provider_slug":"gengo","translation_style":"friendly","translation_tier":1,"translation_tier_name":"Professional
        translator","briefing":"Nothing  specific","total":0.1},{"order_id":"20190619AHL","project_id":"803826145ba90b42d5d860.46800099","branch":null,"card_id":1774,"status":"completed","created_at":"2019-06-19
        16:43:33 (Etc\/UTC)","created_at_timestamp":1560962613,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["nl"],"keys":[15519786],"source_words":{"nl":3},"provider_slug":"gengo","translation_style":"friendly","translation_tier":1,"translation_tier_name":"Professional
        translator","briefing":"Nothing specific","total":0.29},{"order_id":"20200116FM1","project_id":"576418155e1db80a3136c5.33298570","branch":null,"card_id":2185,"status":"completed","created_at":"2020-01-16
        14:20:56 (Etc\/UTC)","created_at_timestamp":1579184456,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["lv_LV"],"keys":[35076371,35083374,35087356,35087357,35091519],"source_words":{"lv_LV":22},"provider_slug":"google","translation_style":"friendly","translation_tier":1,"translation_tier_name":null,"briefing":null,"total":0.02},{"order_id":"20200122FTR","project_id":"124505395e2074d880f724.35422706","branch":null,"card_id":2185,"status":"completed","created_at":"2020-01-22
        12:04:15 (Etc\/UTC)","created_at_timestamp":1579694655,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["ru_RU"],"keys":[35400063,35400274,35434575],"source_words":{"ru_RU":3},"provider_slug":"gengo","translation_style":"friendly","translation_tier":1,"translation_tier_name":"Professional
        translator","briefing":"test","total":0.21},{"order_id":"20200127G0B","project_id":"124505395e2074d880f724.35422706","branch":null,"card_id":2185,"status":"completed","created_at":"2020-01-27
        14:29:25 (Etc\/UTC)","created_at_timestamp":1580135365,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["ru_RU"],"keys":[35398054,35446861],"source_words":{"ru_RU":6},"provider_slug":"gengo","translation_style":"friendly","translation_tier":1,"translation_tier_name":"Professional
        translator","briefing":"Nothing specific.","total":0.41}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '100'
      X-Pagination-Page:
      - '1'
      X-Pagination-Page-Count:
      - '1'
      X-Pagination-Total-Count:
      - '6'
    status:
      code: 200
      message: OK
version: 1
