interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams/176692/orders/20200122FTR
  response:
    body:
      string: '{"order_id":"20200122FTR","project_id":"124505395e2074d880f724.35422706","branch":null,"card_id":2185,"status":"completed","created_at":"2020-01-22
        12:04:15 (Etc\/UTC)","created_at_timestamp":1579694655,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["ru_RU"],"keys":[35400063,35400274,35434575],"source_words":{"ru_RU":3},"provider_slug":"gengo","translation_style":"friendly","translation_tier":1,"translation_tier_name":"Professional
        translator","briefing":"test","total":0.21}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
