interactions:
- request:
    body: '{"project_id": "454087345e09f3e7e7eae3.57891254", "card_id": 2185, "briefing":
      "nothing special", "source_language_iso": "en", "target_language_isos": ["ru_RU"],
      "keys": [34089721], "provider_slug": "gengo", "translation_tier": 1}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/teams/176692/orders
  response:
    body:
      string: '{"order_id":"20200620NFL","project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","card_id":2185,"status":"in
        progress","created_at":"2020-06-20 15:57:59 (Etc\/UTC)","created_at_timestamp":1592668679,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["ru_RU"],"keys":["34089721"],"source_words":{"ru_RU":2},"provider_slug":"gengo","translation_tier":1,"translation_tier_name":"Native
        speaker","briefing":"nothing special","total":0.14,"dry_run":false}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
