interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams/176692/orders?page=3&limit=2
  response:
    body:
      string: '{"orders":[{"order_id":"20200122FTR","project_id":"124505395e2074d880f724.35422706","branch":null,"card_id":2185,"status":"completed","created_at":"2020-01-22
        12:04:15 (Etc\/UTC)","created_at_timestamp":1579694655,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["ru_RU"],"keys":[35400063,35400274,35434575],"source_words":{"ru_RU":3},"provider_slug":"gengo","translation_style":"friendly","translation_tier":1,"translation_tier_name":"Professional
        translator","briefing":"test","total":0.21},{"order_id":"20200127G0B","project_id":"124505395e2074d880f724.35422706","branch":null,"card_id":2185,"status":"completed","created_at":"2020-01-27
        14:29:25 (Etc\/UTC)","created_at_timestamp":1580135365,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","target_language_isos":["ru_RU"],"keys":[35398054,35446861],"source_words":{"ru_RU":6},"provider_slug":"gengo","translation_style":"friendly","translation_tier":1,"translation_tier_name":"Professional
        translator","briefing":"Nothing specific.","total":0.41}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '2'
      X-Pagination-Page:
      - '3'
      X-Pagination-Page-Count:
      - '3'
      X-Pagination-Total-Count:
      - '6'
    status:
      code: 200
      message: OK
version: 1
