interactions:
- request:
    body: '{"name": "Updated Python group", "is_reviewer": false, "is_admin": true,
      "admin_rights": ["upload"]}'
    headers:
      x-api-token:
      - FILTERED
    method: PUT
    uri: https://api.lokalise.com/api2/teams/176692/groups/515
  response:
    body:
      string: '{"team_id":176692,"group":{"group_id":515,"name":"Updated Python group","permissions":{"is_admin":true,"is_reviewer":false,"admin_rights":["upload"],"languages":[]},"created_at":"2019-03-19
        19:53:04 (Etc\/UTC)","created_at_timestamp":1553025184,"team_id":176692,"projects":["531138705d0ba0c18f5b43.63503311","803826145ba90b42d5d860.46800099"],"members":[20181,25753]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
