interactions:
- request:
    body: '{"name": "Python group", "is_reviewer": true, "is_admin": true, "admin_rights":
      ["upload"]}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/teams/176692/groups
  response:
    body:
      string: '{"team_id":176692,"group":{"group_id":2494,"name":"Python group","permissions":{"is_admin":true,"is_reviewer":true,"admin_rights":["upload"],"languages":[]},"created_at":"2020-06-25
        12:46:37 (Etc\/UTC)","created_at_timestamp":1593089197,"team_id":176692,"projects":[],"members":[]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
