interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams/176692/groups
  response:
    body:
      string: '{"team_id":176692,"user_groups":[{"group_id":515,"name":"Demo","permissions":{"is_admin":true,"is_reviewer":false,"admin_rights":["upload","download","tasks","contributors","screenshots","keys","languages","settings","activity","statistics"],"languages":[]},"created_at":"2019-03-19
        19:53:04 (Etc\/UTC)","created_at_timestamp":1553025184,"team_id":176692,"projects":["531138705d0ba0c18f5b43.63503311","803826145ba90b42d5d860.46800099"],"members":[20181,25753]},{"group_id":1266,"name":"Onboarding","permissions":{"is_admin":true,"is_reviewer":true,"admin_rights":["download","tasks","contributors","screenshots","keys","languages","settings"],"languages":[]},"created_at":"2019-12-29
        13:55:46 (Etc\/UTC)","created_at_timestamp":1577627746,"team_id":176692,"projects":["454087345e09f3e7e7eae3.57891254"],"members":[34052,52911]},{"group_id":1337,"name":"Russian
        contributors","permissions":{"is_admin":false,"is_reviewer":false,"admin_rights":[],"languages":[{"lang_id":600,"lang_iso":"ru_RU","lang_name":"Russian
        (Russia)","is_writable":true}]},"created_at":"2020-01-16 14:07:09 (Etc\/UTC)","created_at_timestamp":1579183629,"team_id":176692,"projects":["124505395e2074d880f724.35422706"],"members":[49436]}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '100'
      X-Pagination-Page:
      - '1'
      X-Pagination-Page-Count:
      - '1'
      X-Pagination-Total-Count:
      - '3'
    status:
      code: 200
      message: OK
version: 1
