interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams/176692/groups?page=2&limit=1
  response:
    body:
      string: '{"team_id":176692,"user_groups":[{"group_id":1266,"name":"Onboarding","permissions":{"is_admin":true,"is_reviewer":true,"admin_rights":["download","tasks","contributors","screenshots","keys","languages","settings"],"languages":[]},"created_at":"2019-12-29
        13:55:46 (Etc\/UTC)","created_at_timestamp":1577627746,"team_id":176692,"projects":["454087345e09f3e7e7eae3.57891254"],"members":[34052,52911]}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '1'
      X-Pagination-Page:
      - '2'
      X-Pagination-Page-Count:
      - '3'
      X-Pagination-Total-Count:
      - '3'
    status:
      code: 200
      message: OK
version: 1
