interactions:
- request:
    body: '{"name": "Python sample proj", "description": "Project created by Python
      client", "languages": [{"lang_iso": "en", "custom_iso": "en-us"}, {"lang_iso":
      "en_GB", "custom_iso": "en-gb"}], "base_lang_iso": "en-us"}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects
  response:
    body:
      string: '{"project_id":"752354175ee755409bb393.87183877","project_type":"localization_files","name":"Python
        sample proj","description":"Project created by Python client","created_at":"2020-06-15
        11:02:24 (Etc\/UTC)","created_at_timestamp":1592218944,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"base_language_id":640,"base_language_iso":"en-us","settings":{"per_platform_key_names":false,"reviewing":true,"upvoting":false,"auto_toggle_unverified":true,"offline_translation":false,"key_editing":true,"inline_machine_translations":true,"branching":false},"statistics":{"progress_total":0,"keys_total":0,"team":2,"base_words":0,"qa_issues_total":0,"qa_issues":{"not_reviewed":0,"unverified":0,"spelling_grammar":0,"inconsistent_placeholders":0,"inconsistent_html":0,"different_number_of_urls":0,"different_urls":0,"leading_whitespace":0,"trailing_whitespace":0,"different_number_of_email_address":0,"different_email_address":0,"different_brackets":0,"different_numbers":0,"double_space":0,"special_placeholder":0},"languages":[{"language_id":640,"language_iso":"en-us","progress":0,"words_to_do":0},{"language_id":610,"language_iso":"en-gb","progress":0,"words_to_do":0}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
