interactions:
- request:
    body: null
    headers:
      Authorization:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/41927157619e6abd190863.11993227
  response:
    body:
      string: '{"project_id":"41927157619e6abd190863.11993227","project_type":"localization_files","name":"My
        Web App","description":"","created_at":"2021-11-24 16:39:25 (Etc\/UTC)","created_at_timestamp":1637771965,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"base_language_id":640,"base_language_iso":"en","settings":{"per_platform_key_names":true,"reviewing":true,"upvoting":false,"auto_toggle_unverified":true,"offline_translation":false,"key_editing":true,"inline_machine_translations":true,"branching":true,"segmentation":false,"custom_translation_statuses":false,"custom_translation_statuses_allow_multiple":true},"statistics":{"progress_total":38,"keys_total":3,"team":7,"base_words":9,"qa_issues_total":56,"qa_issues":{"not_reviewed":33,"unverified":22,"spelling_grammar":1,"inconsistent_placeholders":0,"inconsistent_html":0,"different_number_of_urls":0,"different_urls":0,"leading_whitespace":0,"trailing_whitespace":0,"different_number_of_email_address":0,"different_email_address":0,"different_brackets":0,"different_numbers":0,"double_space":0,"special_placeholder":0,"unbalanced_brackets":0},"languages":[{"language_id":666,"language_iso":"de","progress":33,"words_to_do":6},{"language_id":640,"language_iso":"en","progress":100,"words_to_do":0},{"language_id":1056,"language_iso":"es","progress":33,"words_to_do":6},{"language_id":673,"language_iso":"fr","progress":55,"words_to_do":4},{"language_id":676,"language_iso":"fr_BE","progress":33,"words_to_do":6},{"language_id":643,"language_iso":"ja","progress":33,"words_to_do":6},{"language_id":10152,"language_iso":"lt","progress":33,"words_to_do":6},{"language_id":10153,"language_iso":"lv","progress":33,"words_to_do":6},{"language_id":708,"language_iso":"pt-BR","progress":33,"words_to_do":6},{"language_id":10001,"language_iso":"que","progress":0,"words_to_do":9},{"language_id":597,"language_iso":"ru","progress":33,"words_to_do":6}]}}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - e0da0743-2ef7-4f7e-9f79-423b24e3a17e
    status:
      code: 200
      message: OK
version: 1
