@font-face {
  font-family: "FactorA-Regular";
  src: url("../fonts/FactorA-Regular.woff2") format("woff2"),
    url("../fonts/FactorA-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FactorA-Medium";
  src: url("../fonts/FactorA-Medium.woff2") format("woff2"),
    url("../fonts/FactorA-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "FactorA-Regular", system-ui, "Lato", "proxima-nova",
    "Helvetica Neue", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.rst-content .toctree-wrapper > p.caption,
.wy-menu-vertical,
div.sphinxsidebar h3,
div.sphinxsidebar h4,
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
  font-family: 'FactorA-Medium', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}
