interactions:
- request:
    body: '{"languages": [{"lang_iso": "fr"}]}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/languages
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","languages":[{"lang_id":673,"lang_iso":"fr","lang_name":"French","is_rtl":false,"plural_forms":["one","other"]}],"errors":[]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
