interactions:
- request:
    body: '{"languages": [{"lang_iso": "ar", "custom_name": "Custom AR"}, {"lang_iso":
      "be_BY", "custom_iso": "by_2"}]}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/languages
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","languages":[{"lang_id":714,"lang_iso":"ar","lang_name":"Custom
        AR","is_rtl":true,"plural_forms":["zero","one","two","few","many","other"]},{"lang_id":906,"lang_iso":"by_2","lang_name":"Belarusian
        (Belarus)","is_rtl":false,"plural_forms":["one","few","many","other"]}],"errors":[]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
