interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/languages?page=2&limit=3
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","languages":[{"lang_id":672,"lang_iso":"de_DE","lang_name":"German
        (Germany)","is_rtl":false,"plural_forms":["one","other"]},{"lang_id":10153,"lang_iso":"lv","lang_name":"Latvian","is_rtl":false,"plural_forms":["zero","one","other"]},{"lang_id":600,"lang_iso":"ru_RU","lang_name":"Russian
        (Russia)","is_rtl":false,"plural_forms":["one","few","many","other"]}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '3'
      X-Pagination-Page:
      - '2'
      X-Pagination-Page-Count:
      - '2'
      X-Pagination-Total-Count:
      - '6'
    status:
      code: 200
      message: OK
version: 1
