interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects
  response:
    body:
      string: '{"projects":[{"project_id":"638597985c913f818559f3.17106287","project_type":"localization_files","name":"contrib","description":"","created_at":"2019-03-19
        19:14:09 (Etc\/UTC)","created_at_timestamp":1553022849,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"base_language_id":640,"base_language_iso":"en","settings":{"per_platform_key_names":false,"reviewing":true,"upvoting":false,"auto_toggle_unverified":true,"offline_translation":false,"key_editing":true,"inline_machine_translations":true,"branching":false},"statistics":{"progress_total":50,"keys_total":1,"team":2,"base_words":2,"qa_issues_total":2,"qa_issues":{"not_reviewed":2,"unverified":0,"spelling_grammar":0,"inconsistent_placeholders":0,"inconsistent_html":0,"different_number_of_urls":0,"different_urls":0,"leading_whitespace":0,"trailing_whitespace":0,"different_number_of_email_address":0,"different_email_address":0,"different_brackets":0,"different_numbers":0,"double_space":0,"special_placeholder":0},"languages":[{"language_id":640,"language_iso":"en","progress":100,"words_to_do":0},{"language_id":597,"language_iso":"ru","progress":0,"words_to_do":2}]}},{"project_id":"124505395e2074d880f724.35422706","project_type":"localization_files","name":"Demo","description":"","created_at":"2020-01-16
        14:36:08 (Etc\/UTC)","created_at_timestamp":1579185368,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"base_language_id":1055,"base_language_iso":"en_US","settings":{"per_platform_key_names":true,"reviewing":true,"upvoting":false,"auto_toggle_[...]
