interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/71749499610303a83ad8a2.67103833/files
  response:
    body:
      string: '{"project_id":"71749499610303a83ad8a2.67103833","branch":"master","files":[{"file_id":839819,"filename":"%LANG_ISO%.yml","key_count":58},{"file_id":1275799,"filename":"test.yml","key_count":1},{"file_id":-1,"filename":"__unassigned__","key_count":0}]}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - bf28fa21-fc3a-4d4b-b4c3-e05f728ef8b6
      X-Pagination-Limit:
      - '100'
      X-Pagination-Page:
      - '1'
      X-Pagination-Page-Count:
      - '1'
      X-Pagination-Total-Count:
      - '3'
    status:
      code: 200
      message: OK
version: 1
