interactions:
- request:
    body: '{"format": "json", "original_filenames": true, "replace_breaks": false}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/6504960967ab53d45e0ed7.15877499/files/async-download
  response:
    body:
      string: '{"process_id":"1efed4e6-461a-6d6e-a779-dea3ae8b7e9e"}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - 108b4847-b35e-403a-9cf0-dbaf286ae1c2
    status:
      code: 200
      message: OK
version: 1
