interactions:
- request:
    body: '{"format": "json", "original_filenames": true, "replace_breaks": false}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/files/download
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","bundle_url":"https:\/\/s3-eu-west-1.amazonaws.com\/lokalise-assets\/files\/export\/454087345e09f3e7e7eae3.57891254\/aa2ea5d3b48a15f2069305b5e91c3e6c\/OnBoarding-locale.zip"}'
    headers:
      Content-Type:
      - application/json
      X-Response-Too-Big:
      - 'true'
    status:
      code: 200
      message: OK
version: 1
