interactions:
- request:
    body: '{"data": "ZnI6DQogIHRlc3Q6IHRyYW5zbGF0aW9u", "filename": "python_upload.yml",
      "lang_iso": "ru_RU", "queue": true}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/files/upload
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","process":{"process_id":"9db05dcdce6a15e2550051d13d5eb39c700bf8dd","type":"file-import","status":"queued","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2020-06-19
        12:24:19 (Etc\/UTC)","created_at_timestamp":1592569459}}'
    headers:
      Content-Type:
      - application/json
      Location:
      - /api2/projects/454087345e09f3e7e7eae3.57891254/processes/9db05dcdce6a15e2550051d13d5eb39c700bf8dd
    status:
      code: 202
      message: Accepted
version: 1
