interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/files
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","files":[{"filename":"%LANG_ISO%.xml","key_count":1},{"filename":"%LANG_ISO%.yml","key_count":4},{"filename":"__unassigned__","key_count":8}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '100'
      X-Pagination-Page:
      - '1'
      X-Pagination-Page-Count:
      - '1'
      X-Pagination-Total-Count:
      - '3'
    status:
      code: 200
      message: OK
version: 1
