interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/7565202469c53c30428ce0.33693563/translation-memories
  response:
    body:
      string: '{"project_id":"7565202469c53c30428ce0.33693563","project_uuid":"019d2a73-1c90-7490-abba-277f2756a8a9","translation_memories":[{"id":0,"name":"Lokalise
        Translation Memory"},{"id":2592,"name":"My Very Own TM"},{"id":2593,"name":"General
        TM"}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 10, 10;w=1, 10;w=1, 10;w=1
    status:
      code: 200
      message: OK
version: 1
