interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/keys/34089718/comments?limit=1&page=2
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","comments":[{"comment_id":6892379,"key_id":34089718,"comment":"dsfsdf","added_by":20181,"added_by_email":"bodrovis@protonmail.com","added_at":"2020-06-17
        17:13:43 (Etc\/UTC)","added_at_timestamp":1592414023}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '1'
      X-Pagination-Page:
      - '2'
      X-Pagination-Page-Count:
      - '3'
      X-Pagination-Total-Count:
      - '3'
    status:
      code: 200
      message: OK
version: 1
