interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/keys/34089718/comments
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","comments":[{"comment_id":3838530,"key_id":34089718,"comment":"welcome
        key","added_by":20181,"added_by_email":"bodrovis@protonmail.com","added_at":"2019-12-26
        15:09:46 (Etc\/UTC)","added_at_timestamp":1577372986},{"comment_id":6892379,"key_id":34089718,"comment":"dsfsdf","added_by":20181,"added_by_email":"bodrovis@protonmail.com","added_at":"2020-06-17
        17:13:43 (Etc\/UTC)","added_at_timestamp":1592414023},{"comment_id":6945725,"key_id":34089718,"comment":"another
        comment for welcome","added_by":20181,"added_by_email":"bodrovis@protonmail.com","added_at":"2020-06-18
        15:28:37 (Etc\/UTC)","added_at_timestamp":1592494117}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '100'
      X-Pagination-Page:
      - '1'
      X-Pagination-Page-Count:
      - '1'
      X-Pagination-Total-Count:
      - '3'
    status:
      code: 200
      message: OK
version: 1
