interactions:
- request:
    body: '{"comments": [{"comment": "python 1"}, {"comment": "python 2"}]}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/keys/34089718/comments
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","comments":[{"comment_id":6945736,"key_id":34089718,"comment":"python
        1","added_by":20181,"added_by_email":"bodrovis@protonmail.com","added_at":"2020-06-18
        16:18:02 (Etc\/UTC)","added_at_timestamp":1592497082},{"comment_id":6945737,"key_id":34089718,"comment":"python
        2","added_by":20181,"added_by_email":"bodrovis@protonmail.com","added_at":"2020-06-18
        16:18:02 (Etc\/UTC)","added_at_timestamp":1592497082}]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
