interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/keys/34089718/comments/3838530
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","comment":{"comment_id":3838530,"key_id":34089718,"comment":"welcome
        key","added_by":20181,"added_by_email":"bodrovis@protonmail.com","added_at":"2019-12-26
        15:09:46 (Etc\/UTC)","added_at_timestamp":1577372986}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
