interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/snapshots
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","snapshots":[{"snapshot_id":164513,"title":"Pseudolocalization
        snapshot","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2019-12-30
        17:05:00 (Etc\/UTC)","created_at_timestamp":1577725500},{"snapshot_id":164514,"title":"Pseudolocalization
        snapshot","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2019-12-30
        17:05:53 (Etc\/UTC)","created_at_timestamp":1577725553}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '100'
      X-Pagination-Page:
      - '1'
      X-Pagination-Page-Count:
      - '1'
      X-Pagination-Total-Count:
      - '2'
    status:
      code: 200
      message: OK
version: 1
