interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/snapshots/164513
  response:
    body:
      string: '{"project_id":"243134155ef0a1f3a14a71.89763809","project_type":"localization_files","name":"OnBoarding
        copy","description":"Demo project for onboarding course","created_at":"2020-06-22
        12:20:03 (Etc\/UTC)","created_at_timestamp":1592828403,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"base_language_id":640,"base_language_iso":"en","settings":{"per_platform_key_names":false,"reviewing":true,"upvoting":true,"auto_toggle_unverified":true,"offline_translation":false,"key_editing":true,"inline_machine_translations":true,"branching":false},"statistics":{"progress_total":0,"keys_total":0,"team":8,"base_words":0,"qa_issues_total":0,"qa_issues":{"not_reviewed":0,"unverified":0,"spelling_grammar":0,"inconsistent_placeholders":0,"inconsistent_html":0,"different_number_of_urls":0,"different_urls":0,"leading_whitespace":0,"trailing_whitespace":0,"different_number_of_email_address":0,"different_email_address":0,"different_brackets":0,"different_numbers":0,"double_space":0,"special_placeholder":0},"languages":[{"language_id":640,"language_iso":"en","progress":0,"words_to_do":0},{"language_id":600,"language_iso":"ru_RU","progress":0,"words_to_do":0},{"language_id":672,"language_iso":"de_DE","progress":0,"words_to_do":0},{"language_id":10052,"language_iso":"que","progress":0,"words_to_do":0},{"language_id":611,"language_iso":"en_AU","progress":0,"words_to_do":0}]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
