interactions:
- request:
    body: '{"title": "Python snapshot"}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/snapshots
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","snapshot":{"snapshot_id":277888,"title":"Python
        snapshot","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2020-06-22
        12:10:16 (Etc\/UTC)","created_at_timestamp":1592827816}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
