interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams/176692/users
  response:
    body:
      string: '{"team_id":176692,"team_users":[{"user_id":68139,"email":"demo3@python.org","fullname":"Python
        demo 3","created_at":"2020-06-15 12:29:13 (Etc\/UTC)","created_at_timestamp":1592224153,"role":"member"},{"user_id":68133,"email":"demo@python.org","fullname":"Python
        demo 1","created_at":"2020-06-15 12:19:03 (Etc\/UTC)","created_at_timestamp":1592223543,"role":"member"},{"user_id":68134,"email":"demo2@python.org","fullname":"Python
        demo 2","created_at":"2020-06-15 12:19:03 (Etc\/UTC)","created_at_timestamp":1592223543,"role":"member"},{"user_id":61151,"email":"ilkrukowski@gmail.com","fullname":"Il","created_at":"2020-04-06
        10:41:35 (Etc\/UTC)","created_at_timestam[...]
