interactions:
- request:
    body: '{"role": "admin"}'
    headers:
      x-api-token:
      - FILTERED
    method: PUT
    uri: https://api.lokalise.com/api2/teams/176692/users/52911
  response:
    body:
      string: '{"team_id":176692,"team_user":{"user_id":52911,"email":"elf@lorien.com","fullname":"Mr.
        Elf","created_at":"2019-12-29 13:47:23 (Etc\/UTC)","created_at_timestamp":1577627243,"role":"admin"}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
