interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/teams/176692/users?page=2&limit=4
  response:
    body:
      string: '{"team_id":176692,"team_users":[{"user_id":52911,"email":"elf@lorien.com","fullname":"Mr.
        Elf","created_at":"2019-12-29 13:47:23 (Etc\/UTC)","created_at_timestamp":1577627243,"role":"member"},{"user_id":49436,"email":"ilya@lokalise.com","fullname":"Ilya","created_at":"2019-11-06
        12:57:29 (Etc\/UTC)","created_at_timestamp":1573045049,"role":"member"},{"user_id":35555,"email":"john@example.com","fullname":"John","created_at":"2019-04-17
        13:41:12 (Etc\/UTC)","created_at_timestamp":1555508472,"role":"member"},{"user_id":35554,"email":"golosizpru@ya.ru","fullname":"Joanne","created_at":"2019-04-17
        13:39:19 (Etc\/UTC)","created_at_timestamp":1555508359,"role":"member"}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '4'
      X-Pagination-Page:
      - '2'
      X-Pagination-Page-Count:
      - '4'
      X-Pagination-Total-Count:
      - '16'
    status:
      code: 200
      message: OK
version: 1
