interactions:
- request:
    body: '{"terms": [{"term": "python", "description": "sample desc", "caseSensitive":
      false, "forbidden": false, "translatable": false}]}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/6504960967ab53d45e0ed7.15877499/glossary-terms
  response:
    body:
      string: '{"data":[],"meta":{"count":1,"created":0,"limit":500},"errors":["Unable
        to create term: python"]}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - ef366312-ecf7-42a9-aed3-10826d1cecaf
    status:
      code: 422
      message: Unprocessable Content
version: 1
