interactions:
- request:
    body: '{"terms": [5489361, 5489360]}'
    headers:
      x-api-token:
      - FILTERED
    method: DELETE
    uri: https://api.lokalise.com/api2/projects/6504960967ab53d45e0ed7.15877499/glossary-terms
  response:
    body:
      string: '{"data":{"deleted":{"count":2,"ids":[5489360,5489361]}},"meta":[]}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - bbb08468-4c4a-4a77-8a6e-1aa6601a9f47
    status:
      code: 200
      message: OK
version: 1
