interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/6504960967ab53d45e0ed7.15877499/glossary-terms/5319746
  response:
    body:
      string: '{"data":{"id":5319746,"term":"router","description":"A network device","caseSensitive":false,"translatable":true,"forbidden":false,"translations":[{"langId":597,"langName":"Russian","langIso":"ru","translation":"","description":""},{"langId":640,"langName":"English","langIso":"en","translation":"","description":""},{"langId":674,"langName":"French
        (Canada)","langIso":"fr_CA","translation":"","description":""}],"projectId":"6504960967ab53d45e0ed7.15877499","tags":[],"createdAt":"2025-03-31
        15:01:00 (Etc\/UTC)","updatedAt":null}}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - 869668c9-8e9b-40d3-8b8a-5ee28248d5fd
    status:
      code: 200
      message: OK
version: 1
