interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/contributors/20181
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","contributor":{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya
        B","created_at":"2018-08-21 15:35:25 (Etc\/UTC)","created_at_timestamp":1534865725,"is_admin":true,"is_reviewer":true,"languages":[{"lang_id":10052,"lang_iso":"que","lang_name":"Quenya","is_writable":true},{"lang_id":640,"lang_iso":"en","lang_name":"English","is_writable":true},{"lang_id":611,"lang_iso":"en_AU","lang_name":"English
        (Australia)","is_writable":true},{"lang_id":672,"lang_iso":"de_DE","lang_name":"German
        (Germany)","is_writable":true},{"lang_id":10153,"lang_iso":"lv","lang_name":"Latvian","is_writable":true},{"lang_id":600,"lang_iso":"ru_RU","lang_name":"Russian
        (Russia)","is_writable":true}],"admin_rights":["upload","download","tasks","contributors","screenshots","keys","languages","settings","activity","statistics"]}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
