interactions:
- request:
    body: '{"contributors": [{"email": "demo3@python.org", "fullname": "Python demo
      3", "languages": [{"lang_iso": "ru_RU", "is_writable": true}]}]}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/contributors
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","contributors":[{"user_id":68139,"email":"demo3@python.org","fullname":"Python
        demo 3","created_at":"2020-06-15 12:29:13 (Etc\/UTC)","created_at_timestamp":1592224153,"is_admin":false,"is_reviewer":false,"languages":[{"lang_id":600,"lang_iso":"ru_RU","lang_name":"Russian
        (Russia)","is_writable":true}],"admin_rights":[]}]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
