interactions:
- request:
    body: '{"is_reviewer": true, "languages": [{"lang_iso": "ru_RU", "is_writable":
      true}, {"lang_iso": "en", "is_writable": false}]}'
    headers:
      x-api-token:
      - FILTERED
    method: PUT
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/contributors/68139
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","contributor":{"user_id":68139,"email":"demo3@python.org","fullname":"Python
        demo 3","created_at":"2020-06-15 12:29:13 (Etc\/UTC)","created_at_timestamp":1592224153,"is_admin":false,"is_reviewer":true,"languages":[{"lang_id":640,"lang_iso":"en","lang_name":"English","is_writable":false},{"lang_id":600,"lang_iso":"ru_RU","lang_name":"Russian
        (Russia)","is_writable":true}],"admin_rights":[]}}'
    headers:
      Allow:
      - GET, DELETE
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
