interactions:
- request:
    body: '{"contributors": [{"email": "demo@python.org", "fullname": "Python demo
      1", "languages": [{"lang_iso": "en", "is_writable": false}]}, {"email": "demo2@python.org",
      "fullname": "Python demo 2", "languages": [{"lang_iso": "en", "is_writable":
      true}]}]}'
    headers:
      x-api-token:
      - FILTERED
    method: POST
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/contributors
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","contributors":[{"user_id":68133,"email":"demo@python.org","fullname":"Python
        demo 1","created_at":"2020-06-15 12:19:03 (Etc\/UTC)","created_at_timestamp":1592223543,"is_admin":false,"is_reviewer":false,"languages":[{"lang_id":640,"lang_iso":"en","lang_name":"English","is_writable":false}],"admin_rights":[]},{"user_id":68134,"email":"demo2@python.org","fullname":"Python
        demo 2","created_at":"2020-06-15 12:19:03 (Etc\/UTC)","created_at_timestamp":1592223543,"is_admin":false,"is_reviewer":false,"languages":[{"lang_id":640,"lang_iso":"en","lang_name":"English","is_writable":true}],"admin_rights":[]}]}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
