interactions:
- request:
    body: '{"title": "Python updated task", "due_date": "2020-08-24 23:59:59"}'
    headers:
      x-api-token:
      - FILTERED
    method: PUT
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/tasks/135506
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","task":{"task_id":135506,"title":"Python
        updated task","can_be_parent":true,"task_type":"translation","parent_task_id":null,"closing_tags":[],"description":"","status":"created","progress":0,"due_date":"2020-08-24
        21:59:59 (Etc\/UTC)","due_date_timestamp":1598306399,"keys_count":1,"words_count":2,"created_at":"2020-06-24
        15:01:41 (Etc\/UTC)","created_at_timestamp":1593010901,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","languages":[{"language_iso":"en","users":[{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya
        B"}],"groups":[],"keys":[34089721],"status":"created","progress":0,"initial_tm_leverage":{"0%+":1,"60%+":0,"75%+":0,"95%+":0,"100%":0},"keys_count":1,"words_count":2,"completed_at":null,"completed_at_timestamp":null,"completed_by":null,"completed_by_email":null}],"auto_close_languages":true,"auto_close_task":true,"completed_at":null,"completed_at_timestamp":null,"completed_by":null,"completed_by_email":null,"do_lock_translations":false,"custom_translation_status_ids":[]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
