interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/tasks?page=2&limit=3&filter_statuses=completed
  response:
    body:
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","tasks":[{"task_id":10001,"title":"My
        new task","can_be_parent":false,"task_type":"translation","parent_task_id":null,"closing_tags":["finalized"],"description":"Description
        is here","status":"completed","progress":0,"due_date":"2019-04-29 22:00:00
        (Etc\/UTC)","due_date_timestamp":1556575200,"keys_count":2,"words_count":16,"created_at":"2019-04-17
        13:44:00 (Etc\/UTC)","created_at_timestamp":1555508640,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language_iso":"en","languages":[{"language_iso":"es","users":[{"user_id":34051,"email":"demo2@example.com","fullname":"Demo
        2 User"},{"user_id":35554,"email":"golosizpru@ya.ru","fullname":"Joanne"}],"groups":[],"keys":[],"status":"created","progress":0,"initial_tm_leverage":{"0%+":0,"60%+":0,"75%+":0,"95%+":0,"100%":0},"keys_count":2,"words_count":5,"completed_at":null,"completed_at_timestamp":null,"completed_by":null,"completed_by_email":null},{"language_iso":null,"users":[{"user_id":35555,"email":"john@example.com","fullname":"John"}],"groups":[],"keys":[],"status":"created","progress":0,"initial_tm_leverage":{"0%+":0,"60%+":0,"75%+":0,"95%+":0,"100%":0},"keys_count":2,"words_count":8,"completed_at":null,"completed_at_timestamp":null,"completed_by":null,"completed_by_email":null}],"auto_close_items":true,"auto_close_languages":true,"auto_close_task":true,"completed_at":"2019-10-01
        11:14:10 (Etc\/UTC)","completed_at_timestamp":1569928450,"completed_by":20181,"completed_by_email":"bodrovis@protonmail.com","do_lock_translations":false,"custom_translation_status_ids":[]},{"task_id":8221,"title":"Demo
        task","can_be_parent":false,"task_type":"translation","parent_task_id":null,"closing_tags":[],"description":"description
        goes here","status":"completed","progress":0,"due_date":"2019-04-29 22:00:00
        (Etc\/UTC)","due_date_timestamp":1556575200,"keys_count":4,"words_count":26,"created_at":"2019-03-26
        15:26:16 (Etc\/UTC)","created_at_timestamp":1553613976,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","source_language[...]
