interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/tasks
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","tasks":[{"task_id":133225,"title":"Review
        English (copy)","can_be_parent":false,"task_type":"review","parent_task_id":null,"closing_tags":[],"description":"Typical
        task to be used as a template","status":"completed","progress":71,"due_date":null,"due_date_timestamp":null,"keys_count":7,"words_count":20,"created_at":"2020-06-20
        12:36:26 (Etc\/UTC)","created_at_timestamp":1592656586,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","languages":[{"language_iso":"en_AU","users":[{"user_id":20181,"email":"bodrovis@protonmail.com","fullname":"Ilya
        B"}],"groups":[],"keys":[34089719,34089720,34089721,34089723,34089724,34089725,48815323],"status":"in
        progress","progress":71,"initial_tm_leverage":{"0%+":7,"60%+":0,"75%+":0,"95%+":0,"100%":0},"keys_count":7,"words_count":20,"completed_at":null,"completed_at_timestamp":null,"completed_by":null,"completed_by_email":null}],"auto_close_languages":false,"auto_close_task":false,"completed_at":"2020-06-20
        12:42:36 (Etc\/UTC)","completed_at_timestamp":1592656956,"completed_by":20181,"completed_by_email":"bodrovis@protonmail.com","do_lock_translations":true,"custom_translation_status_ids":[]},{"task_id":131407,"title":"dfsdfsdf","can_be_parent":false,"task_type":"translation","parent_task_id":null,"closing_tags":[],"description":"","status":"completed","progress":0,"due_date":null,"due_date_timestamp":null,"keys_count":8,"words_count":66,"created_at":"2020-06-17
        16:04:10 (Etc\/UTC)","created_at_timestamp":1592409850,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","languages":[{"language_iso":"en_AU","users":[{"user_id":20181,"email":"bodrovis@protonmail.co[...]
