interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/v1/audit-logs?limit=1
  response:
    body:
      string: '{"data":[{"class_uid":6003,"class_name":"API Activity","category_uid":6,"category_name":"Application
        Activity","activity_id":99,"activity_name":"Other","type_uid":600399,"severity_id":1,"severity":"Informational","status_id":1,"status":"Success","time":1753267304,"metadata":{"uid":"6880bc681710af8df90f007c","version":"1.3.0","log_provider":"lokalise-audit","event_code":"project.deleted","product":{"vendor_name":"Lokalise","name":"Lokalise
        Expert","version":1}},"actor":{"user":{"uid":"20181","type_id":1},"session":{"is_remote":true}},"src_endpoint":{"ip":"84.15.216.58"},"http_request":{"user_agent":"Mozilla\/5.0
        (Windows NT 10.0; Win64; x64; rv:140.0) Gecko\/20100101 Firefox\/140.0","url":{"url_string":"https:\/\/app.lokalise.com\/project\/delete"}},"enrichments":[{"name":"team","value":"Ilya\u0027s
        Team - @ai-scoring","data":{"id":176692,"name":"Ilya\u0027s Team - @ai-scoring"}},{"name":"project","value":"iOS
        GH","data":{"id":"2853102668763e85e45176.50644855","name":"iOS GH"}}],"unmapped":{"event_group_id":0,"event_type_id":1006,"api_call":false,"data":{"name":"iOS
        GH","description":""}}}],"next_cursor":"eyJpZCI6IjY4ODBiYzY4MTcxMGFmOGRmOTBmMDA3YyJ9","has_more":true}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - 10, 10;w=1, 10;w=1
    status:
      code: 200
      message: OK
version: 1
