interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/branches?page=2&limit=1
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","branches":[{"branch_id":45845,"name":"master","created_at":"2019-12-30
        12:56:07 (Etc\/UTC)","created_at_timestamp":1577710567,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '1'
      X-Pagination-Page:
      - '2'
      X-Pagination-Page-Count:
      - '1'
      X-Pagination-Total-Count:
      - '1'
    status:
      code: 200
      message: OK
version: 1
