interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/2273827860c1e2473eb195.11207948/branches?page=2&limit=1
  response:
    body:
      string: '{"project_id":"2273827860c1e2473eb195.11207948","branch":"master","branches":[{"branch_id":362586,"name":"demo","created_at":"2023-11-20
        19:04:57 (Etc\/UTC)","created_at_timestamp":1700507097,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"}]}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - 6b47b661-500a-4115-af9b-543cdde665d2
      X-Pagination-Limit:
      - '1'
      X-Pagination-Page:
      - '2'
      X-Pagination-Page-Count:
      - '4'
      X-Pagination-Total-Count:
      - '4'
    status:
      code: 200
      message: OK
version: 1
