interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/branches/55312
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":{"branch_id":55312,"name":"python-branch-upd","created_at":"2020-04-03
        14:41:46 (Etc\/UTC)","created_at_timestamp":1585924906,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
