interactions:
- request:
    body: '{"name": "python-branch-updated"}'
    headers:
      x-api-token:
      - FILTERED
    method: PUT
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/branches/66307
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":{"branch_id":66307,"name":"python-branch-updated","created_at":"2020-06-18
        11:34:24 (Etc\/UTC)","created_at_timestamp":1592480064,"created_by":20181,"created_by_email":"bodrovis@protonmail.com"}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
