interactions:
- request:
    body: '{"client_id": "fake", "client_secret":
      "fake", "code": "fake",
      "grant_type": "authorization_code"}'
    headers:
    method: POST
    uri: https://app.lokalise.com/oauth2/token
  response:
    body:
      string: '{"access_token":"stubbed token","refresh_token":"stubbed refresh","expires_in":3600,"token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - c56d15d2-06ac-4257-9d08-78d7aa717dac
    status:
      code: 200
      message: OK
version: 1
