interactions:
- request:
    body: '{"client_id": "fake", "client_secret":
      "fake", "code": "fake", "grant_type": "authorization_code"}'
    headers:
    method: POST
    uri: https://app.lokalise.com/oauth2/token
  response:
    body:
      string: '{"error":"invalid_request","error_description":"code: Code must be
        40 characters long","error_uri":""}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - 75a1a498-5c95-473b-9030-adba9f4ae4bf
    status:
      code: 400
      message: Bad Request
version: 1
