interactions:
- request:
    body: '{"client_id": "fake", "client_secret":
      "fake", "refresh_token": "fake",
      "grant_type": "refresh_token"}'
    headers:
    method: POST
    uri: https://app.lokalise.com/oauth2/token
  response:
    body:
      string: '{"access_token":"refreshed token","expires_in":3600,"scope":"write_team_groups
        read_projects","token_type":"Bearer"}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - cbb57f61-f831-43d6-b126-8f7245118b5b
    status:
      code: 200
      message: OK
version: 1
