interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/803826145ba90b42d5d860.46800099/keys?include_translations=1&page=1&limit=5000
  response:
    body:
      string: '{"project_id":"803826145ba90b42d5d860.46800099","branch":"master","keys":[{"key_id":44596059,"created_at":"2020-05-11
        11:20:33 (Etc\/UTC)","created_at_timestamp":1589196033,"key_name":{"ios":"activerecord:attributes:feedback:message","android":"activerecord:attributes:feedback:message","web":"activerecord:attributes:feedback:message","other":"activerecord:attributes:feedback:message"},"filenames":{"ios":"","android":"","web":"%LANG_ISO%.yml","other":""},"description":"","platforms":["web"],"tags":[],"translations":[{"translation_id":304581218,"key_id":44596059,"language_iso":"ru","translation":"\u0421\u043e\u043e\u0431\u0449\u0435\u043d\u0438\u0435","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2020-05-15
        10:44:42 (Etc\/UTC)","modified_at_timestamp":1589539482,"is_reviewed":false,"reviewed_by":0,"is_unverified":false,"is_fuzzy":false,"words":1,"custom_translation_statuses":[],"task_id":null},{"translation_id":304581208,"key_id":44596059,"language_iso":"en","translation":"Message","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2020-05-11
        11:20:33 (Etc\/UTC)","modified_at_timestamp":1589196033,"is_reviewed":false,"reviewed_by":0,"is_unverified":false,"is_fuzzy":false,"words":1,"custom_translation_statuses":[],"task_id":null},{"translation_id":304581217,"key_id":44596059,"language_iso":"f_over","translation":"","modified_by":20181,"modifi[...]
