interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects
  response:
    body:
      string: '{"projects":[{"project_id":"2273827860c1e2473eb195.11207948","project_type":"localization_files","name":"Angular","description":"","created_at":"2021-06-10
        09:58:31 (Etc\/UTC)","created_at_timestamp":1623319111,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"base_language_id":1055,"base_language_iso":"en_US","settings":{"per_platform_key_names":true,"reviewing":true,"upvoting":false,"auto_toggle_unverified":true,"offline_translation":false,"key_editing":true,"inline_machine_translations":true,"branching":true,"custom_translation_statuses":false,"custom_translation_statuses_allow_multiple":false},"statistics":{"progress_total":100,"keys_total":11,"team":4,"base_words":24,"qa_issues_total":25,"qa_issues":{"not_reviewed":22,"unverified":1,"spelling_grammar":2,"inconsistent_placeholders":0,"inconsistent_html":0,"different_number_of_urls":0,"different_urls":0,"leading_whitespace":0,"trailing_whitespace":0,"different_number_of_email_address":0,"different_email_address":0,"different_brackets":0,"different_numbers":0,"double_space":0,"special_placeholder":0,"unbalanced_brackets":0},"languages":[{"language_id":1055,"language_iso":"en_US","progress":100,"words_to_do":0},{"language_id":597,"language_iso":"ru","progress":100,"words_to_do":0}]}},{"project_id":"1948732260e2ed89f095e1.10167001","project_type":"localization_files","name":"App
        development","description":"","created_at":"2021-07-05 11:31:22 (Etc\/UTC)","created_at_timestamp":1625484682,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"base_language_id":640,"base_language_iso":"en","settings":{"per_platform_key_names":false,"reviewing":true,"upvoting":false,"au[...]
