interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254:python-branch-upd/processes/344f8e3fb813d10c6ec75ddcf35e2e24815af242
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"python-branch-upd","process":{"process_id":"344f8e3fb813d10c6ec75ddcf35e2e24815af242","type":"file-import","status":"finished","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2020-06-19
        11:42:02 (Etc\/UTC)","created_at_timestamp":1592566922,"details":{"files":[{"status":"finished","message":"","name_original":"en.json","name_custom":"%LANG_ISO%.json","word_count_total":16,"key_count_total":7,"key_count_inserted":7,"key_count_updated":0,"key_count_skipped":0},{"status":"finished","message":"","name_original":"ru.json","name_custom":"%LANG_ISO%.json","word_count_total":18,"key_count_total":7,"key_count_inserted":7,"key_count_updated":0,"key_count_skipped":0}]}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
