interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/6504960967ab53d45e0ed7.15877499/processes/1efed4e6-461a-6d6e-a779-dea3ae8b7e9e
  response:
    body:
      string: '{"process":{"process_id":"1efed4e6-461a-6d6e-a779-dea3ae8b7e9e","type":"async-export","status":"finished","message":null,"created_by":20181,"created_at":"2025-02-17
        17:44:02 (Europe\/Berlin)","created_at_timestamp":1739810642,"details":{"file_size_kb":1,"total_number_of_keys":4,"download_url":"https:\/\/lokalise-live-lok-s3-fss-export.s3.eu-central-1.amazonaws.com\/export\/176692\/6504960967ab53d45e0ed7.15877499\/export\/d28ed227-ee26-49a3-8630-4f00e7629d2b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAQVSVRZDELRGVB7RH%2F20250217%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20250217T164609Z&X-Amz-Expires=86400&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFEaDGV1LWNlbnRyYWwtMSJHMEUCIQDZ07HeySK1LMUEe3iuBfL7plZdgJGwmmsyOX2BOaHHaAIgKV4EUKjCc7oruE7l[...]
