interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254:python-branch-upd/processes
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"python-branch-upd","processes":[{"process_id":"344f8e3fb813d10c6ec75ddcf35e2e24815af242","type":"file-import","status":"finished","message":"","created_by":20181,"created_by_email":"bodrovis@protonmail.com","created_at":"2020-06-19
        11:42:02 (Etc\/UTC)","created_at_timestamp":1592566922}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
