interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/39066161618d4ecb9fdc12.00274309/keys/134490810/segments/en?disable_references=1
  response:
    body:
      string: '{"project_id":"39066161618d4ecb9fdc12.00274309","key_id":134490810,"language_iso":"en","segments":[{"segment_number":1,"language_iso":"en","value":"Hello!","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2021-12-16
        17:00:53 (Etc\/UTC)","modified_at_timestamp":1639674053,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":true,"words":1,"custom_translation_statuses":[]},{"segment_number":2,"language_iso":"en","value":"This
        is a text for Node.","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2021-12-16
        16:49:35 (Etc\/UTC)","modified_at_timestamp":1639673375,"is_reviewed":true,"reviewed_by":20181,"is_fuzzy":false,"words":6,"custom_translation_statuses":[{"status_id":5734,"title":"context","color":"#61bd4f"}]},{"segment_number":3,"language_iso":"en","value":"So
        good.","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2021-12-16
        16:19:04 (Etc\/UTC)","modified_at_timestamp":1639671544,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":2,"custom_translation_statuses":[]}]}'
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - f843849a-88bf-4caf-8eb6-e229f46ba164
    status:
      code: 200
      message: OK
version: 1
