interactions:
- request:
    body: '{"value": "Hello from Python!", "is_reviewed": true}'
    headers:
      x-api-token:
      - FILTERED
    method: PUT
    uri: https://api.lokalise.com/api2/projects/39066161618d4ecb9fdc12.00274309/keys/134490810/segments/en/2
  response:
    body:
      string: '{"project_id":"39066161618d4ecb9fdc12.00274309","key_id":134490810,"language_iso":"en","segment":{"segment_number":2,"language_iso":"en","value":"Hello
        from Python!","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2021-12-16
        19:55:40 (Etc\/UTC)","modified_at_timestamp":1639684540,"is_reviewed":true,"reviewed_by":20181,"is_fuzzy":false,"words":3,"custom_translation_statuses":[{"status_id":5734,"title":"context","color":"#61bd4f"}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - 64a61662-478c-4fed-a2ab-c34b560f8c25
    status:
      code: 200
      message: OK
version: 1
