interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/translations
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","translations":[{"translation_id":220681425,"key_id":34089718,"language_iso":"ru_RU","translation":"\u0414\u043e\u0431\u0440\u043e
        \u043f\u043e\u0436\u0430\u043b\u043e\u0432\u0430\u0442\u044c \u0432 Sample
        App, [%s:name]!","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2019-12-26
        15:05:04 (Etc\/UTC)","modified_at_timestamp":1577372704,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":true,"words":5,"custom_translation_statuses":[]},{"translation_id":220681430,"key_id":34089719,"language_iso":"ru_RU","translation":"\u0417\u0430\u0440\u0435\u0433\u0438\u0441\u0442\u0440\u0438\u0440\u043e\u0432\u0430\u0442\u044c\u0441\u044f","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2019-12-26
        15:31:15 (Etc\/UTC)","modified_at_timestamp":1577374275,"is_reviewed":true,"reviewed_by":20181,"is_fuzzy":true,"words":1,"custom_translation_statuses":[]},{"translation_id":220681435,"key_id":34089720,"language_iso":"ru_RU","translation":"{\"one\":\"\\u0423
        \\u0432\\u0430\\u0441 [%i:count] \\u0441\\u043e\\u043e\\u0431\\u0449\\u0435\\u043d\\u0438\\u0435\",\"few\":\"\\u0423
        \\u0432\\u0430\\u0441 [%i:count] \\u043d\\u043e\\u0432\\u044b\\u0445 \\u0441\\u043e\\u043e\\u0431\\u0449\\u0435\\u043d\\u0438\\u044f\",\"many\":\"\\u0423
        \\u0432\\u0430\\u0441 [%i:count] \\u043d\\u043e\\u0432\\u044b\\u0445 \\u0441\\u043e\\u043e\\u0431\\u0449\\u0435\\u043d\\u0438\\u0439\",\"other\":\"\\u0423
        \\u0432\\u0430\\u0441 [%i:count] \\u043d\\u043e\\u0432\\u044b\\u0445 \\u0441\\u043e\\u043e\\u0431\\u0449\\u0435\\u043d\\u0438\\u044f\"}","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2019-12-30
        14:05:39 (Etc\/UTC)","modified_at_timestamp":1577714739,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":false,"words":15,"custom_translation_statuses":[]},{"translation_id":220681440,"key_id":34089721,"language_iso":"ru_RU","translation":"\u0420\[...]
