interactions:
- request:
    body: '{"translation": "\u041f\u0440\u0438\u0432\u0435\u0442\u0441\u0442\u0432\u0443\u0435\u043c
      \u0432 Sample App, [%s:name]!", "custom_translation_status_ids": [429]}'
    headers:
      x-api-token:
      - FILTERED
    method: PUT
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/translations/220681425
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","translation":{"translation_id":220681425,"key_id":34089718,"language_iso":"ru_RU","translation":"\u041f\u0440\u0438\u0432\u0435\u0442\u0441\u0442\u0432\u0443\u0435\u043c
        \u0432 Sample App, [%s:name]!","modified_by":20181,"modified_by_email":"bodrovis@protonmail.com","modified_at":"2020-06-25
        10:46:51 (Etc\/UTC)","modified_at_timestamp":1593082011,"is_reviewed":false,"reviewed_by":0,"is_fuzzy":true,"words":4,"custom_translation_statuses":[{"status_id":429,"title":"needs
        context","color":"#61bd4f"}]}}'
    headers:
      Allow:
      - GET
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
