interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/454087345e09f3e7e7eae3.57891254/screenshots
  response:
    body:
      string: '{"project_id":"454087345e09f3e7e7eae3.57891254","branch":"master","screenshots":[{"screenshot_id":343286,"title":"screenshot","description":"","screenshot_tags":["test"],"url":"https:\/\/s3-eu-west-1.amazonaws.com\/lokalise-assets\/files\/screenshots\/454087345e09f3e7e7eae3.57891254\/3a314ec8b721982c23c501dcc7bb9ce7153807af.jpg","key_ids":[34089721,34089723,34090320,34090321,34090322,34090368,34090369,34090370,0,34090423,34090424,34090425,39929058,39929059,48678051,48678052],"width":480,"height":800,"created_at":"2019-12-27
        14:52:26 (Etc\/UTC)","created_at_timestamp":1577458346},{"screenshot_id":343904,"title":"","description":"","screenshot_tags":["Sketch"],"url":"https:\/\/s3-eu-west-1.amazonaws.com\/lokalise-assets\/files\/screenshots\/454087345e09f3e7e7eae3.57891254\/2c084ffe50890f33688683bcf9d70d560a98150a.jpg","key_ids":[],"width":574,"height":236,"created_at":"2020-01-03
        19:13:40 (Etc\/UTC)","created_at_timestamp":1578078820},{"screenshot_id":343906,"title":"","description":"","screenshot_tags":["Sketch"],"url":"https:\/\/s3-eu-west-1.amazonaw[...]
