interactions:
- request:
    body: null
    headers:
      x-api-token:
      - FILTERED
    method: GET
    uri: https://api.lokalise.com/api2/projects/404021655ce68d0f36ad23.02802891/screenshots?page=2&limit=1
  response:
    body:
      string: '{"project_id":"404021655ce68d0f36ad23.02802891","screenshots":[{"screenshot_id":519946,"title":"enter_number","description":"","screenshot_tags":[],"url":"https:\/\/s3-eu-west-1.amazonaws.com\/lokalise-assets\/files\/screenshots\/404021655ce68d0f36ad23.02802891\/6a7cc6ede91af2d75ac5cdfcceb027ec691e8e1f.jpg","key_ids":[],"width":640,"height":1136,"created_at":"2020-07-21
        15:19:53 (Etc\/UTC)","created_at_timestamp":1595344793}]}'
    headers:
      Content-Type:
      - application/json
      X-Pagination-Limit:
      - '1'
      X-Pagination-Page:
      - '2'
      X-Pagination-Page-Count:
      - '2'
      X-Pagination-Total-Count:
      - '2'
    status:
      code: 200
      message: OK
version: 1
